<header>
    <h1>Ado Aplicações Interativas Desing Responsivo</h1>
</header>
<main>
    <input type="text" [(ngModel)]="nome" placeholder="digite seu nome ">
    <input type="text" [(ngModel)]="genero" placeholder="digite p genero desejado">

    <p>nome escrito {{nome}}</p>

    <div [ngSwitch]="genero">
        <section *ngSwitchCase=" 'filme' " class="container" >
            <ul *ngFor="let filmes of filme">
                <li class="titulo">{{filmes.nome}}</li>
                <li class="texto">{{filmes.sinopse}}</li>
                <img [src]="filmes.img" alt="" height="300px" width="300px">
            </ul>
        </section>

        <section *ngSwitchCase=" 'serie' " class="container">
            <ul *ngFor="let filmes of serie">
                <li class="titulo">{{filmes.nome}}</li>
                <li class="texto">{{filmes.sinopse}}</li>
                <img [src]="filmes.img" alt="" height="300px" width="300px">
            </ul>
        </section>

        <section *ngSwitchCase=" 'anime' " class="container">
            <ul *ngFor="let filmes of anime">
                <li class="titulo">{{filmes.nome}}</li>
                <li class="texto">{{filmes.sinopse}}</li>
                <img [src]="filmes.img" alt="" height="300px" width="300px">
            </ul>
        </section>
    </div>
</main>